
    {{!-- aca va el formulario --}}
<h2>Listado de productos dinamico</h2> 

<section id="newProduct" >
    <h3>Nuevo producto</h3>
        <form method="">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" id="title"/>
            <label for="description" class="form-label">Descripcion</label>
            <input type="text" id="description"/>
            <label for="category" class="form-label">Categoria</label>
            <input type="text" id="category"/>
            <label for="price" class="form-label">Precio</label>
            <input type="number" id="price"/>
            <label for="stock" class="form-label">Stock</label>
            <input type="number" id="stock"/>
            <label for="code" class="form-label">Codigo</label>
            <input type="number" id="code"/>
            
            <button id="new">Crear</button>
        </form>
</section>

<section id="delProduct">
    <h3>Eliminar producto</h3>
    <form action="">
        <label for="idToDelete">Id a eliminar</label>
        <input type="number" id="idToDelete">
        <button id="del">Eliminar</button>
    </form>
</section>

<section id="allProducts">
    <h3>Todos los productos</h3>
    <table id="products">
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Codigo</th>
            <th>ID</th>
        </tr>
    </table>
</section>

{{!-- scripts --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>